.container-fluid {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  background-color: #2F4F4F;
  height: 1200px;
  /* max-width: 70%; */
}

p {
  font-family: serif;
  font-size: 64pt;
  color: #00CED1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

img {
  width: 250px;
  height: 200px;
}

.container {
  position: relative;
  justify-content: center;
  align-content: center;
}

.row {
  position: relative;
  justify-content: space-around;
  align-content: inline-flex;
  padding-bottom: 3%;
}

.col-sm-6 {
  position: relative;
  justify-content: center;
  align-content: inline-flex;
}
