.container-fluid {
  position: relative;
  justify-content: center;
  background-color: #2F4F4F;
  height: 1700px;
}

.container {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

p {
  font-family: serif;
  font-size: 64pt;
  color: #00CED1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

img {
  position: relative;
  justify-content: center;
  display: inline-block;
  width: 250px;
  height: 200px;
}

.img-responsive {
  padding: 8%;
  justify-content: center;
  width: 250px;
  height: 200px;
}

.row {
  position: relative;
  justify-content: center;
  display: flex;
}

.container2 {
  position: relative;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

video {
  width: 500px;
  height: 260px;
  padding-right: 2%;
  padding-left: 2%;
}
