.container-fluid {
  background-color: #2F4F4F;
  height: 1200px;
}

p {
  font-family: serif;
  font-size: 64pt;
  color: #00CED1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  position: relative;
  display: inline-flex;
  flex-flow: flex-flow;
  justify-content: center;
  padding-bottom: 3%;
  /* padding-left: 20px;
  padding-right: 20px; */
}

img {
  width: 200px;
  height: 150px;
}

.col-3 {
  justify-content: center;
  position: relative;
  display: inline-flex;
  /* grid-template-columns: 25px; */
  /* flex-flow: row; */
}

.col-6 {
  justify-content: center;
  position: relative;
  display: inline-flex;
  padding-bottom: 3%;
}

/* .col-lg-6 iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 250%;
  width: 80%;
} */

/* @media screen and (min-width: 1200px) {
  width: 100%;
  height: auto;
}; */
